/* @keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
} */

/* .icon-hover {
  animation: pulse 1s infinite;
} */

@keyframes sketch {
  0% {
    border-width: 2px;
  }
  50% {
    border-width: 4px;
  }
  100% {
    border-width: 2px;
  }
}

.card {
  animation: sketch 2s infinite ease-in-out;
}
